* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #ecffc1;
background: -webkit-linear-gradient(135deg, #ecffc1 0%, #ffe6cc 50%, #dfbaf7 100%);
background: linear-gradient(135deg, #ecffc1 0%, #ffe6cc 50%, #dfbaf7 100%);
    font-family: sans-serif;
  }
  
  .container {
    width: 90%;
    margin: 50px auto;
  }
  
  .heading {
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.826);
    margin-bottom: 80px;
  }
  .heading:hover{
    transition: 1.3s;
    transform: scale(1.1);
  }
  
  .row {
    display:flex;
    flex-direction:row-reverse;
    justify-content: space-around;
    flex-flow:wrap;
  }
  
  .card {
    width: 26%;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-bottom: 50px;
    transition: 0.3s;
  }
  
  .card-header {
    text-align: center;
    font-size: small;
    padding: 50px 10px;
    border-radius: 20px;
    background: linear-gradient(to right, #db61db, #e6563d);
    color: #fff;
  }

  .card-body {
    padding: 30px 60px;
    text-align:justify;
    font-size: 16px;
  }
  
  .card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(to right, #db61dbd5, #e6563d);
    text-decoration: none;
    margin-top: 30px;
    padding: 10px 5px;
    transition: 0.3s;
  }
  
  .card-body .btn:hover {
    transform: scale(1.1);
  }
  
  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 1);
  }
  .navbar{
    display: flex;
    height: 22vh;
    padding: 15px;
    margin-bottom: 35px;
   margin-left: 5%;
    gap: 80px;
  }
  .inner{
    margin-top: 2%;
    display: flex;
    padding: 15px;
    margin-left: 15%;
    gap:150px;

  }
  .search{
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    color:darkslategrey;
    width:fit-content;
    gap:10px;
  }
  .copy{
    margin-top: 6%;
    margin-bottom: 1%;
    width: max-content;
    margin-left: 45%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
  }
  .copy:hover{
    transition: 1.3s;
    transform: scale(1.1);
    cursor: pointer;
  }
  
  /* Responsive media queries */
  
  @media screen and (max-width: 1000px) {
    .card {
      width: 40%;
    }
  }
  
  @media screen and (max-width: 620px) {
    .container {
      width: 100%;
    }
  
    .heading {
      padding: 20px;
      font-size: 30px;
    }
  
    .card {
      width: 80%;
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;800&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,600&display=swap');
.topnav {
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  .topnav a:hover {
    color: rgb(224, 62, 33);
    text-decoration:none;
    transition: 0.3s;
    transform: scale(1.1);
  }
  .topnav a:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .topnav a:visited {
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }
  span img{
    display: inline-block;
    width: 90px;
    filter:saturate(3);
    height: auto;
    object-fit: contain;
  }
  .nav{
    display: flex;
    gap: 20px;
    padding: 0px 30px;
    align-items: center;
  }
 #body1{
  background: #ecffc1;
background: -webkit-linear-gradient(135deg, #ecffc1 0%, #ffe6cc 50%, #dfbaf7 100%);
background: linear-gradient(135deg, #ecffc1 0%, #ffe6cc 50%, #dfbaf7 100%);
 }
 
  